<main class="authPage">
 <div class="authPage__container">
   <img class="authPage__logo" src="./assets/img/logo_login.png" />
   <form id="formSignIn" class="form" #form="ngForm">
     <h1 class="form__title sr-only">Login</h1>
     <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
     <div class="form__fieldGroup">
       <label for="email">E-mail</label>
       <input class="form__fieldInput" type="email" name="email" id="email" [(ngModel)]="user.email" minlength="5"
         #email="ngModel" email required />
       <span class="invalid-feedback" *ngIf="email?.errors?.required && email?.touched">
         Por favor preencha com um email válido
       </span>
       <span class="invalid-feedback" *ngIf="email?.errors?.email && email?.touched">
         Por favor informe seu e-mail no formato seuemail@exemplo.com.br
       </span>
     </div>
     <div class="form__fieldGroup">
       <label for="password">Senha</label>
       <input class="form__fieldInput" type="password" name="password" id="password" [(ngModel)]="user.password"
         minlength="5" #password="ngModel" required />
       <span class="invalid-feedback" *ngIf="password?.errors?.required && password?.touched">
         Por favor preencha sua senha
       </span>
     </div>
     <div class="form__fieldGroup">
      <label for="Name">Nome</label>
      <input class="form__fieldInput" type="text" name="firstName" id="firstname" [(ngModel)]="user.firstName" required />
    </div>
     <div class="form__fieldGroup">
       <label for="lastName">Sobrenome</label>
       <input class="form__fieldInput" type="text" name="lastName" id="lastname" [(ngModel)]="user.lastName"/>
     </div>
     <button class="form__submit" type="submit" [disabled]="form.invalid" (click)="signup()">Cadastrar</button>
   </form>
 </div>
</main>