
$browser-context: 15;

@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

#post {
    background: #eee;
}

.post {
    background: #fff;
    margin: 6px auto 6px auto;
    padding: 10px;

    &__profileImg {
        margin-right: 10px;
        img {
            margin-top: 4px;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 100px;
        }
    }

    &__profile {
        display: flex;
        margin-bottom: 6px;
        font-size: em(14);

        .dropleft {
            position: absolute;
            top: 0;
            right: 0;

            .dropdown-toggle::before {
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: 0.255em;
                vertical-align: 0.255em;
                content: "";
                border-top: 0.3em solid !important;
                border-right: 0.3em solid transparent;
                border-bottom: 0;
                border-left: 0.3em solid transparent;
            }

            .dropdown-menu .dropdown-item {
                font-size: em(13);
            }

            a:first-child::before {
                color: #bababa;
            }
        }

        .post__profileRight {
            position: relative;
            width: 100%;    
        }
    }

    &__profileName {
        color: #444;
        margin-left: 10px;
        margin: 0;
    }

    &__profileDesc {
        font-size: em(13);
        color: #444;
        margin: 0 10px 10px 0;
    }

    &__profileRole {
        font-size: em(12);
    }

    &__timePosted {
        display: block;
    }


    .card {
        margin: 0 auto;
        padding: 0;
        border: none;

        &-body {
            margin-top: 3px;

            .liked path {
                fill: #ee721a;
                stroke: #ee721a
            }
            
            .likeCount {
                margin-left: 6px;
                color: #bababa;
                font-size: em(14);
            }
        }

    }

    .card-body {
        padding: 0;
    }
}
