@import 'global_imports';

.nav {
  background: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 ($grid-gutter-width / 2);
  box-shadow: 0px 1px 6px 0px $gray-500;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  &__logo img {
    width: 90px;
  }

  .menu {
    display: flex;
    align-items: baseline;
    font-size: em(12);

    &__profileName {
      display: none;
    }

    a {
      color: $primary;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      font-weight: 500;
      font-size: em(14);
      margin-right: ($grid-gutter-width / 2);
    }

    a:last-of-type {
      margin-right: 0;
    }

    &__profile {
      margin-right: ($grid-gutter-width / 3);


      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100px;
      }
    }
  }
}

@media screen and (min-width: 768px) {

  .nav {
    .menu {
      font-size: em(13);

      &__profileName {
        display: inline;
      }
    }
  }

  .nav {
    padding: 0 ($grid-gutter-width / 2);

    &__logo img {
      width: 100%;
    }
  }

}
